.about{
    font-size: 1rem;
}

.emoji{
    font-size: 1rem;
}

.nip05-link{
    color: rgb(149, 60, 150);
    font-size: 0.7rem;
    vertical-align: text-top;
    text-decoration: none;
}

.name {
    color: rgb(41, 41, 41);
    font-size: 1.8em;
}

.lnurl-link {
    cursor: pointer;
}