$shadow-color: rgb(0, 0, 0);
$primary: rgb(37, 193, 214);
$danger: #d93957;
$light: rgb(195, 195, 195);

.brand-font {
    font-family: "Normal";
    font-family: 'Press Start 2P';
    font-size: 14px;
}

html,
body,
div#root {
    height: 100%;
    font-size: 16px;
    background-color: rgb(103, 46, 103);
}

.container {
    height: 100%;
}

.profile {
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba($shadow-color, 0.034),
        0 6.7px 5.3px rgba($shadow-color, 0.048),
        0 12.5px 10px rgba($shadow-color, 0.06),
        0 22.3px 17.9px rgba($shadow-color, 0.072),
        0 41.8px 33.4px rgba($shadow-color, 0.086),
        0 100px 80px rgba($shadow-color, 0.12);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    max-height: 70%;
    overflow-y: auto;
}

span.emoji {
    font-size: 20px;
}

.user {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 3rem;
    padding-bottom: 10px;
    width: 100%;
    text-align: right;
}

.item-base {
    font-size: 1rem;
}

.about{
    font-size: 1rem;
}

.emoji{
    font-size: 1rem;
}

.nip05-link{
    color: rgb(149, 60, 150);
    font-size: 0.7rem;
    vertical-align: text-top;
    text-decoration: none;
}

.name {
    color: rgb(41, 41, 41);
    font-size: 1.8em;
}

.lnurl-link {
    cursor: pointer;
    text-decoration:  underline;
    color: $primary;
}

.general-error {
    .message {
        font-size: 1.7rem;
    }
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';